# Python
**/__pycache__/
**/*.py[cod]

# PlatformIO / SCons
**/.pio/
**/.sconsign*.dblite

# Common build outputs
**/build/

# Logs / local artifacts
logs/
**/logs/

# Python virtualenvs
**/.venv/

# OS / editor
.DS_Store
